<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/list.css">
  <title>Document</title>
</head>

<body>


  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col_edit">
          <h1>飯店資料</h1>
          <hr>
          <label>折價</label>
          <input class="form-control" type="text" v-model="discount">
          <label>服務費</label>
          <input class="form-control" type="text" v-model="service_fee">
          <h1>房型編輯</h1>
          <div class="btn btn-secondary" @click="add_room">+ 新房間</div>
          <div class="room_edit" v-for="(room,id) in rooms">
            <label class="room_tag">
              <h4>{{room.name}}
                <i class="fas fa-trash-alt delete_btn" @click="delete_room(id)"></i>
              </h4>
              <input class="toggle_check" type="checkbox" />
              <div class="edit_part">
                <label>名稱(中)</label>

                <input type="text" class="form-control" v-model="room.name">
                <label>價錢</label>
                <input type="text" class="form-control" v-model="room.price">
                <label>折價</label>
                <input type="text" class="form-control" v-model="room.discount">
                <label>名稱(英)</label>
                <input type="text" class="form-control" v-model="room.eng">
                <label>圖片</label>
                <input type="text" class="form-control" v-model="room.cover">
              </div>
            </label>
          </div>


        </div>
        <div class="col-sm-9">
          <h1>房間列表</h1>
          <div class="row">
            <div class="col-sm-4 col-room" v-for="(room,id) in rooms">
              <room v-bind:room_data="room" v-bind:hotel_discount="discount" v-bind:hotel_fee="service_fee" :delete_room="delete_room"
                :id="id"></room>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <template id="room">
    <div class="room_container">
      <div class="cover" v-bind:style="bg_css">
        <h3>{{room_data.name}}</h3>
        <i class="fas fa-times btn-delete" @click="delete_room"></i>
      </div>
      <div class="info">
        <h5>{{room_data.eng}}</h5>
        <h5>{{room_data.discount}}*{{hotel_discount}}={{final_discount_show}}折</h5>
        <p>{{final_price}}</p>
        <h4>TWD
          <s>{{room_data.price}}</s>
          <div class="final_price">
            <span>{{final_price}}$</span>
          </div>

        </h4>
      </div>
    </div>
  </template>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
<script>
  var rooms = [
    {
      "name": "經濟雙人房",
      "eng": "Economy Double Room",
      "price": 7000,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room%20(1).jpg",
      "discount": 0.9,
      "equipment": {
        "wifi": false,
        "bathtub": true,
        "breakfast": true
      }
    },
    {
      "name": "海景三人房",
      "eng": "Sea view triple Room",
      "price": 7800,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room%20(2).jpg",
      "discount": 0.8,
      "equipment": {
        "wifi": true,
        "bathtub": true,
        "breakfast": false
      }
    },
    {
      "name": "典雅景觀房",
      "eng": "Elegant landscape Room",
      "price": 5400,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room%20(3).jpg",
      "discount": 0.85,
      "equipment": {
        "wifi": false,
        "bathtub": true,
        "breakfast": true
      }
    },
    {
      "name": "尊享豪華房",
      "eng": "Exclusive Deluxe Room",
      "price": 9800,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room%20(4).jpg",
      "discount": 0.8,
      "equipment": {
        "wifi": true,
        "bathtub": false,
        "breakfast": true
      }
    },
    {
      "name": "商務雙人房",
      "eng": "Business Double Room",
      "price": 5600,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room (5).jpg",
      "discount": 0.9,
      "equipment": {
        "wifi": true,
        "bathtub": false,
        "breakfast": false
      }
    },
    {
      "name": "溫泉雙人房",
      "eng": "Hot spring double Room",
      "price": 8400,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room (6).jpg",
      "discount": 0.6,
      "equipment": {
        "wifi": true,
        "bathtub": true,
        "breakfast": true
      }
    },
    {
      "name": "總統套房",
      "eng": "Presidential Suite",
      "price": 23000,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room (7).jpg",
      "discount": 0.75,
      "equipment": {
        "wifi": true,
        "bathtub": true,
        "breakfast": true
      }
    },
    {
      "name": "奢華四人房",
      "eng": "Luxury four Room",
      "price": 8500,
      "amount": 0,
      "cover": "http://bosscode.monoame.com/20170323_vue_comp/img/room (8).jpg",
      "discount": 0.7,
      "equipment": {
        "wifi": true,
        "bathtub": true,
        "breakfast": false
      }
    }
  ];

  Vue.component("room", {
    template: "#room",
    props: ["room_data", "hotel_discount", "hotel_fee", "delete_room", "id"],
    computed: {
      final_discount: function () {
        return this.room_data.discount * this.hotel_discount
      }, final_discount_show: function () {
        return parseInt(this.final_discount * 100);
      },
      final_price: function () {
        return parseInt(this.final_discount * this.room_data.price + this.hotel_fee);
      },
      bg_css: function () {
        return {
          "background-image": "url('" + this.room_data.cover + "')"
        }
      }
    }
  });

  var vm = new Vue({
    el: "#app",
    data: {
      rooms: rooms,
      service_fee: 200,
      discount: 0.9
    },
    methods: {
      add_room: function () {
        this.rooms.push({
          "name": "新房間",
          "eng": "New Room",
          "price": 0,
          "amount": 0,
          "cover": "",
          "discount": 0.5,
          "equipment": {
            "wifi": false,
            "bathtub": true,
            "breakfast": true
          }
        });
      },
      delete_room: function (id) {
        this.rooms.splice(id, 1);
      }

    }

  });
</script>

</html>